parameters:
    level: 4
    paths:
        - src
        - config
    excludePaths:
        analyse:
            - src/Support/Concerns/HasThumbProperties.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

